@import '../../index.scss';

.header {
  background-color: $accent-color;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  .app_container {
    height: $header-height;
    padding: 0 $app-padding;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  h1 {
    color: white
  }
}

.app_title {
  font-size: 2vw;
  height: 100%;
}

.profile_box {
  height: $header-height;
  display: flex;
  align-items: center;

  .profile_avatar {
    height: $header-height - 20;
    width: $header-height - 20;
    //background-image: url(./user-avatar.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100px;
  }

  .profile_dropdown {
    width: 20px;

    .profile_dropdown_arrow {
      svg {
        -webkit-transition: 300ms ease all;
        -moz-transition: 300ms ease all;
        -o-transition: 300ms ease all;
        transition: 300ms ease all;
      }
    }
  }
}

.profile_dropdown_box {
  background-color: $accent-color;
  border-radius: 10px;
  position: absolute;
  top: $header-height;
  right: $app-padding;
  z-index: 100;

  .profile_options {
    list-style: none;
    padding: 5px 30px;
    margin: 5px;

    .profile_options_item {
    padding: 7px 0;
    border: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid;
      }
    }
  }
}

@media screen and (max-width: $max-desktop-size) {
  .app_title {
    font-size: 4vw;
  }
}
